
/*cabecera*/
.bloquerosa1 {
    background: $naranjasuperclaro;
    height: 50px;
}
.principal {
	margin:0px;
	padding:0px;
}
.rosaoscuro1 {
    background: $naranjaclaro;
    height: 50px;
    color: $blanco;
    padding: 15px;
}