$grissocuro:#414141;
$negro:#000;
$naranja:#E8603C;
$naranjaclaro:#E8663C;
$naranjasuperclaro:#F2AE9C;
$grisclaro:#BCBCBC;
$grisclaro2:#d5d5d5;
$grissmedio:#999999;
$grisuperclaro:#DDDDDD;
$blanco:#FFFFFF;
$verdeinvierno:#65a42d;
$palorosa:#F3AF9D;
$rojo:#FB0851;
$Bebas: "Bebas", arial, sans-serif!important;
$HelveticaNeue: "HelveticaNeue", arial, sans-serif!important;